@use '../../GlobalStyle.scss';

.cardWrap{
    width:100%;
    display: inline-block;
    margin-top: 2rem;

}

.citySelector {
    justify-content: center;
    display:flex;
    & input, select, textarea {
        font-size:125%;
    }
}

.header{
    justify-content: center;
    display:flex; 
}