@use '../../GlobalStyle.scss';

.cardContainer {
    align-items: center;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem #191D24;
    background-color: #2A303C;
    color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    .iconWrap{     
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}

.weatherInfoContainer {
    display: flex;
    flex-direction: column;
    // margin: 1rem auto;
   
}

.dataRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem;
    width: 100%;
    & p {
        margin: 0;
    }
}

.dataValue {
    padding-left: 4rem;
}

img {
    margin-left: auto;
    margin-right: auto;

}


@media (min-width: 700px){
    .cardContainer {
        flex-direction: row;
        justify-content: space-around;
        max-width: 80rem;
        .iconWrap{
            margin-bottom: 0;
        }
    }
}